{
  "root": true,

  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],

  "parserOptions": {
    "ecmaVersion": 11,
    "impliedStrict": true,
    "sourceType": "module"
  },

  "plugins": ["import", "prettier"],

  "env": {
    "browser": true,
    "es2020": true
  },

  "rules": {
    "block-scoped-var": "error",
    "consistent-this": ["error", "self"],
    "dot-notation": "error",
    "eol-last": "error",
    "eqeqeq": ["error", "smart"],
    "import/named": "error",
    "import/no-absolute-path": "error",
    "import/no-extraneous-dependencies": "error",
    "import/no-mutable-exports": "error",
    "import/no-unresolved": ["error", { "caseSensitive": true }],
    "import/no-useless-path-segments": "error",
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc" },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "never"
      }
    ],
    "linebreak-style": ["error", "unix"],
    "no-alert": 0,
    "no-array-constructor": "error",
    "no-caller": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "error",
    "no-implied-eval": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-lonely-if": "error",
    "no-loop-func": "error",
    "no-multi-str": "error",
    "no-nested-ternary": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-throw-literal": "error",
    "no-undef-init": "error",
    "no-unneeded-ternary": "error",
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "none", "ignoreRestSiblings": true }
    ],
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-void": "error",
    "one-var": ["error", "never"],
    "prefer-const": "error",
    "prettier/prettier": "error",
    "radix": "error",
    "yoda": "error"
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
